body {
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
}

.board {
   background-color: rgb(158, 153, 76);
   border: 10px;
   border-style: solid;
   border-width: 0.6px;
   display: table;
   overflow: auto;
}

.container {
   background-color: rgb(158, 153, 76);
   display: inline-block;
   position: absolute;
}

.cellButton {
   border: 1px;
   display: inline-block;
   position: 100%;
   width: 50px;
   height: 50px;
   border-style: solid;
   border-radius: 4px;
   background-color: burlywood;
   font-size: xx-large;
}

.marksCountDisplay {
   width: 70px;
   height: 50px;
   background-color: burlywood;
}

.livesCountDisplay {
   width: 70px;
   height: 50px;
   background-color: burlywood;
}

.timeDisplay {
   width: 70px;
   height: 50px;
   background-color: burlywood;
}

.restartButton {
   width: 70px;
   height: 50px;
   background-color: burlywood;
}

.restartBtn {
   position: 100%;
   font-size: xx-large;
   background-color: burlywood;
}